language: go

os:
  - linux
  
go: 
  - 1.8.x
  - 1.9.x
  - tip

install:
  - go get -v -t .
  - go get -u github.com/stretchr/testify/assert
  - go get -u github.com/golang/lint/golint
  - go get -u golang.org/x/tools/cmd/goimports
  
script:
 - go vet ./...
 - diff <(golint ./...) <(printf "")
 - ./test.sh

after_success:
  - bash <(curl -s https://codecov.io/bash)
  
